[Desktop Entry]
Comment=
Encoding=UTF-8
Exec=pyscape
GenericName=Soundscape designer
Icon=pyscape.svg
MimeType=
Name=PyScape
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=Application;AudioVideo;Audio
